__pycache__/
*.pyc
.venv/

build/
dist/
output/
logs/
*.rar

Notepad-X.session.json
Notepad-X.editor.json
Notepad-X.recovery.json
Notepad-X.crash.log
*.notepadx.notes.json
*.notepadx.editors.json
Notepad-X.*.session.json
Notepad-X.*.editor.json
cfg/Notepad-X.*.session.json
cfg/Notepad-X.*.editor.json
cfg/themes/lolcat.json
cfg/backups/
cfg/remote-cache/
cfg/themes/*.notepadx.notes.json
cfg/themes/*.notepadx.editors.json
*.tmp
